<style type="text/css"><!--
body
{
	font-family: helvetica, arial, sans-serif;
	background-color: white;
	font-size: 12pt;
	color : #333333;
}
table
{
	border-collapse: collapse;
	border-spacing: 0px;
	border: 1px solid black;
	padding: 0px;
}
.subject
{
	border: 1px solid #cdcdcd;
	background: #e6e6e6;
	padding: 1pt;
}
.value
{
	border: 1px solid #cdcdcd;
	padding: 1pt;
	width: 100%;
}
.commit
{
	display: inline-block;
    border-radius: 12px;
    padding: 2px 12px 2px 12px;
    color: #000000;
}
.launch
{
	display: inline-block;
	text-decoration: none;
	color: white;
	font-weight: bold;
	background-color: #538fbe;
}
--></style>